$primary-color: #1f373d;
$white-color: #fff;
$gray-color: #919eb1;
$img-placeholder-color: #96bece;
$light-gray-color: #f6f5f4;
$cta-primary-color: #ffcc01;

$btn-hover-color: lighten($cta-primary-color, 15%);

$input-btn-border-radius: 0.5rem;
$drop-shadow: 0 3px 12px rgba(102, 102, 102, 0.2);
$transition-effect: all 0.2s ease-in;
