nav {
  .navigation {
    display: flex;
    &-items {
      display: flex;
      justify-content: space-evenly;
    }
    &-item {
      transition: $transition-effect;
      &:hover {
        color: $cta-primary-color;
        cursor: pointer;
      }
    }
    .humb-menu_icon {
      display: none;
      .line {
        margin: 0.5rem;
        width: 2.5rem;
        height: 0.3rem;
        background-color: $cta-primary-color;
      }
    }
  }
}
