nav {
  .navigation {
    display: flex;
    &-items {
      display: flex;
      justify-content: space-evenly;
    }
    &-item {
      transition: $transition-effect;
      &:hover {
        color: $cta-primary-color;
        cursor: pointer;
      }
    }
    .humb-menu_icon {
      display: none;
    }
  }
}
